.footer {
  height: 36px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.btn-wrap {
  display: flex;
  justify-content: center;
}

.del-msg {
  padding: 20px;
  text-align: center;
}

.confirm-btn {
  margin-right: 16px;
}