@import "common";

@mixin headerCol() {
  font-size: 16px;
  font-weight: bold;
}

.panel {
  background-color: white;
  border-radius: 8px;
}

.content-wrap {
  word-wrap:break-word;
  word-break:break-all;
  display: flex;
}


.content {
  flex-grow: 1;
}

.cols {
  display: flex;
}

.date-col {
  width: 200px;
  display: inline-block;
  flex-shrink: 0;
}

.title {
  @include headerCol();
}

.title-col {
  @include baseCol(1);
  @include headerCol();
}

.url-col {
  @include baseCol(2);
  @include headerCol();
}

.op-col {
  @include opCol();
}

.menu-item {
  @include item();
}