@import "common";

@mixin headerCol() {
  font-weight: bold;
}

.panel {
  background-color: white;
  border-radius: 8px;
}

.content-wrap {
  word-wrap:break-word;
  word-break:break-all;
  display: flex;
}


.content {
  flex-grow: 1;
}

.cols {
  display: flex;
}

.date-col {
  @include baseCol(0, 180px);
  @include headerCol();
}

.title {
  @include headerCol();
}

.title-col {
  @include baseCol(1);
  @include headerCol();
}

.url-col {
  @include baseCol(2);
  @include headerCol();
}

.op-col {
  @include opCol();
}

.visit-count-col {
  @include baseCol(0, 60px);
  @include headerCol();
}

.date-row {
  height: 24px;
  line-height: 24px;
  font-weight: bold;
}